# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env
.env
client/.env
server/.env

# build
client/build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
.vscode/
coverage/
